<h2>使用者列表</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>使用者帳號</th>
      <th>權限</th>
      <th>更改權限</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>

    <tr>
      <td>#</td>
      <td><%= user.email %></td>
      <% if !user.admin? %>
      <td>一般使用者</td>
      <td><%= link_to "轉為管理者", admin_user_convert_admin_path(user), class: "btn btn-info btn-sm", method: :post %> </td>
      <% else %>
      <td>網站管理員</td>
      <td><%= link_to "轉為一般使用者", admin_user_convert_user_path(user), class: "btn btn-warning btn-sm", method: :post  %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
